<header>

  <h1>Redbubble</h1>

  <nav>
    <ul>
      <% @makes.each do |make| %>
        <li><a href="<%= make_path(make) %>"><%= make %><a></li>
      <% end %>
    </ul>
  </nav>

</header>
<section>

  <% @thumbnails[0,10].each do |thumb| %>
    <%= image_tag("#{thumb.content}", :size => "135x135") %>
  <% end %>

</section>
